*,
*::after,
*::before {
  box-sizing: border-box;
}

nav.navbar {
  background-color: red;
}
.offcanvas-warning {
  background-color: yellow;
}

.main {
  height: 100vh;
}
button.navbar-toggler:focus {
  box-shadow: none;
}
button.btn-close:focus {
  box-shadow: none;
}
