*,
*::after,
*::before {
  box-sizing: border-box;
}
/* custom */
button.navbar-toggler:focus {
  box-shadow: none;
}
button[type="button"],
button[type="submit"],
button[class^="btn"]:focus {
  box-shadow: none;
}
button[class*="btn-outline"]:active:focus {
  box-shadow: none;
}

/* styles ui */
nav.navbar {
  background: line
}
.navbar-light .navbar-toggler {
  border: none;
}
.offcanvas-warning {
  background-color: yellow;
}

.main {
  height: 100vh;
}
