*,
*::after,
*::before {
  box-sizing: border-box;
}
/* custom */
button.navbar-toggler:focus {
  box-shadow: none;
}
button[type="button"],
button[type="submit"],
button[class*=" btn"]:focus {
  box-shadow: none;
}
button[type="button"],
button[type="submit"],
button[class*="btn btn"]:active {
  
}

/* styles ui */
nav.navbar {
  background-color: red;
}
.offcanvas-warning {
  background-color: yellow;
}

.main {
  height: 100vh;
}
